html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
}

#container {
  flex: 0 0 auto;
  display: flex;
  margin: auto;
  justify-content: center;
  border: 1px solid black;
  width: 40%;
  height: 0;
  padding-bottom: 40%;
}

.row {
  flex:auto;
  display: flex;
  flex-direction: column;
}

.gridSquare {
  flex: auto;
  padding-bottom: 100%;
}